.content {
    text-align: center;
    margin-top: 70px;
}

.phrase input {
    
        width: 350px;
       height: 25px;
       font-size:20px;
       font-weight: 700;
   
}

.button {
    text-align: center; /* Float the login element to the right */
    
    
    background-color: #4F75FC;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #4F75FC;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 200px;
}

.button.disabled {
    opacity: 0.6; /* Reduce opacity when disabled */
    pointer-events: none; /* Disable pointer events when disabled */
}

.button:hover {
    background-color: #90A9FF; /* Change background color */
    color: white; /* Change text color */
    border-color: #90A9FF;
}