.messages {
    margin-bottom: 10px;
    margin-left: 172px;

}


.messages .subject {
    color: black;
text-align: left;
font-size: 22px;
font-style: normal;

}


.messages .message{
    font-size: 18px;

}

.messages .date {
    font-size: 12px; 
    color: #999;
}

hr {
    border: 1px solid black;
    width: 447px ;
    margin-left: 0px;

}

.title{
    text-align: center;
    font-size: 50px;
}

.image {

  
    margin-top: 2%; /* Adjust the top margin to position the image */
    margin-left: 57%; /* Adjust the left margin to position the image */
    position: absolute; /* Set position to absolute for precise positioning */
    top: 0px; /* Align the image to the top of its containing element */
  
}

