.heading .text{
color: black;
text-align: left;
padding-left: 300px;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.heading .text2{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 300px;
margin-top: -60px;

}

.heading .text3{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 300px;
margin-top: -15px;

}

.heading .text4{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 300px;
margin-top: -30px;

}



.heading .login {
    float: right; /* Float the login element to the right */
    margin-right: 50%; /* Optional: Adjust the right margin for spacing */
    margin-top: 1%;
    background-color: #4F75FC;
    color: white;
    font-size: 32px;
    cursor: pointer;
        padding: 5px 10px;
    border-radius: 20px;
    border: 7px solid #4F75FC;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
   

    text-decoration: none;
   

}

.header .login {
    background-color: white;
    color: #90A9FF;
}

.heading .login:hover {
    background-color: #90A9FF; /* Change background color */
    color: white; /* Change text color */
    border-color: #90A9FF;
}

.image {

    margin-top: 10%; /* Adjust the top margin to position the image */
    margin-left: 60%; /* Adjust the left margin to position the image */
    position: absolute; /* Set position to absolute for precise positioning */
    top: 0; /* Align the image to the top of its containing element */
  
}

